.cardsContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
 }

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.cardImage {
    width: 200px;
 }

.buttonCard {
    background-color: transparent;
    border: none; 
    cursor: pointer;
 }