.contactFormContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
 }

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
 }

 .submitButton {
    padding: 10px 15px;
    background-color: #61dafb;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
 }